In [55]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.layers import Embedding,dot
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from tensorflow.keras.layers import Conv2D, Dense, MaxPool2D, Dropout, Flatten
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [56]:
df = pd.read_csv("/Users/ayahassan/Desktop/semester2/AI/GP 2/SPGC-metadata-2018-07-18.csv")
print(df.shape)
df.head()

(57713, 9)

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
0,PG0,NaN,NaN,NaN,NaN,NaN,NaN,set(),Text
1,PG1,The Declaration of Independence of the United ...,"Jefferson, Thomas",1743.0,1826.0,['en'],604.0,"{'United States -- History -- Revolution, 1775...",Text
2,PG2,The United States Bill of Rights: The Ten Orig...,United States,NaN,NaN,['en'],158.0,"{'Civil rights -- United States -- Sources', '...",Text
3,PG3,John F. Kennedy's Inaugural Address,"Kennedy, John F. (John Fitzgerald)",1917.0,1963.0,['en'],28.0,{'Presidents -- United States -- Inaugural add...,Text
4,PG4,Lincoln's Gettysburg Address: Given November 1...,"Lincoln, Abraham",1809.0,1865.0,['en'],55.0,{'Consecration of cemeteries -- Pennsylvania -...,Text

In [57]:
# dtf_products.drop_duplicates(keep='first')
df.drop_duplicates(subset=['title','author'],keep='first',inplace=True)
print(df.shape)
df.head()

(56633, 9)

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
0,PG0,NaN,NaN,NaN,NaN,NaN,NaN,set(),Text
1,PG1,The Declaration of Independence of the United ...,"Jefferson, Thomas",1743.0,1826.0,['en'],604.0,"{'United States -- History -- Revolution, 1775...",Text
2,PG2,The United States Bill of Rights: The Ten Orig...,United States,NaN,NaN,['en'],158.0,"{'Civil rights -- United States -- Sources', '...",Text
3,PG3,John F. Kennedy's Inaugural Address,"Kennedy, John F. (John Fitzgerald)",1917.0,1963.0,['en'],28.0,{'Presidents -- United States -- Inaugural add...,Text
4,PG4,Lincoln's Gettysburg Address: Given November 1...,"Lincoln, Abraham",1809.0,1865.0,['en'],55.0,{'Consecration of cemeteries -- Pennsylvania -...,Text

In [58]:
#keep only text books
df = df[df["type"] == 'Text']
print(df.shape)
df.head()

(55934, 9)

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
0,PG0,NaN,NaN,NaN,NaN,NaN,NaN,set(),Text
1,PG1,The Declaration of Independence of the United ...,"Jefferson, Thomas",1743.0,1826.0,['en'],604.0,"{'United States -- History -- Revolution, 1775...",Text
2,PG2,The United States Bill of Rights: The Ten Orig...,United States,NaN,NaN,['en'],158.0,"{'Civil rights -- United States -- Sources', '...",Text
3,PG3,John F. Kennedy's Inaugural Address,"Kennedy, John F. (John Fitzgerald)",1917.0,1963.0,['en'],28.0,{'Presidents -- United States -- Inaugural add...,Text
4,PG4,Lincoln's Gettysburg Address: Given November 1...,"Lincoln, Abraham",1809.0,1865.0,['en'],55.0,{'Consecration of cemeteries -- Pennsylvania -...,Text

In [59]:
# drop the row if it has the title = NaN
df = df[df["title"].notna()]
df = df.reset_index(drop=True)
print(df.shape)
df.head()

(55933, 9)

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
0,PG1,The Declaration of Independence of the United ...,"Jefferson, Thomas",1743.0,1826.0,['en'],604.0,"{'United States -- History -- Revolution, 1775...",Text
1,PG2,The United States Bill of Rights: The Ten Orig...,United States,NaN,NaN,['en'],158.0,"{'Civil rights -- United States -- Sources', '...",Text
2,PG3,John F. Kennedy's Inaugural Address,"Kennedy, John F. (John Fitzgerald)",1917.0,1963.0,['en'],28.0,{'Presidents -- United States -- Inaugural add...,Text
3,PG4,Lincoln's Gettysburg Address: Given November 1...,"Lincoln, Abraham",1809.0,1865.0,['en'],55.0,{'Consecration of cemeteries -- Pennsylvania -...,Text
4,PG5,The United States Constitution,United States,NaN,NaN,['en'],226.0,"{'United States. Constitution', 'United States...",Text

In [60]:
df = df.sort_values(by=['downloads'], ascending=False)

In [61]:
df =  df.iloc[:10000,:]

In [62]:
df.shape

(10000, 9)

In [63]:
df.to_csv("my.csv")

In [64]:
df.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
1283,PG1342,Pride and Prejudice,"Austen, Jane",1775.0,1817.0,['en'],31755.0,"{'Domestic fiction', 'Social classes -- Fictio...",Text
10,PG11,Alice's Adventures in Wonderland,"Carroll, Lewis",1832.0,1898.0,['en'],16547.0,{'Fantasy literature'},Text
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,Anonymous,NaN,NaN,['en'],13961.0,{'Erotic stories'},Text
1571,PG1661,The Adventures of Sherlock Holmes,"Doyle, Arthur Conan",1859.0,1930.0,['en'],13269.0,"{'Holmes, Sherlock (Fictitious character) -- F...",Text
312,PG345,Dracula,"Stoker, Bram",1847.0,1912.0,['en'],11695.0,"{'Dracula, Count (Fictitious character) -- Fic...",Text

In [65]:
#convert the subjects field into a list
import ast
def convert_subject (subject):
    temp = []
    try:
        for i in ast.literal_eval(str(subject)):
            x = i.replace("--"," ")
            x = x.replace(" "," ")
            x = x.replace(",", " ")
            x = x.replace(".", " ")
            inner_temp = x.split()
            for j in inner_temp:
                temp.append(j)
    except:
        print(f"found bad data at subject {subject}")
    return temp

In [66]:
df["subjects"][0]

"{'United States -- History -- Revolution, 1775-1783 -- Sources', 'United States. Declaration of Independence'}"

In [67]:
 print(convert_subject(df["subjects"][0]))

['United', 'States', 'History', 'Revolution', '1775-1783', 'Sources', 'United', 'States', 'Declaration', 'of', 'Independence']

In [68]:
print(type(df["subjects"]))

<class 'pandas.core.series.Series'>

In [69]:
df['subjects'] = df['subjects'].apply(convert_subject)

found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()
found bad data at subject set()

In [70]:
df.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
1283,PG1342,Pride and Prejudice,"Austen, Jane",1775.0,1817.0,['en'],31755.0,"[Love, stories, Young, women, Fiction, Domesti...",Text
10,PG11,Alice's Adventures in Wonderland,"Carroll, Lewis",1832.0,1898.0,['en'],16547.0,"[Fantasy, literature]",Text
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,Anonymous,NaN,NaN,['en'],13961.0,"[Erotic, stories]",Text
1571,PG1661,The Adventures of Sherlock Holmes,"Doyle, Arthur Conan",1859.0,1930.0,['en'],13269.0,"[Detective, and, mystery, stories, English, Pr...",Text
312,PG345,Dracula,"Stoker, Bram",1847.0,1912.0,['en'],11695.0,"[Vampires, Fiction, Transylvania, (Romania), F...",Text

In [71]:
df.head(20)

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
1283,PG1342,Pride and Prejudice,"Austen, Jane",1775.0,1817.0,['en'],31755.0,"[Love, stories, Young, women, Fiction, Domesti...",Text
10,PG11,Alice's Adventures in Wonderland,"Carroll, Lewis",1832.0,1898.0,['en'],16547.0,"[Fantasy, literature]",Text
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,Anonymous,NaN,NaN,['en'],13961.0,"[Erotic, stories]",Text
1571,PG1661,The Adventures of Sherlock Holmes,"Doyle, Arthur Conan",1859.0,1930.0,['en'],13269.0,"[Detective, and, mystery, stories, English, Pr...",Text
312,PG345,Dracula,"Stoker, Bram",1847.0,1912.0,['en'],11695.0,"[Vampires, Fiction, Transylvania, (Romania), F...",Text
68,PG74,The Adventures of Tom Sawyer,"Twain, Mark",1835.0,1910.0,['en'],11645.0,"[Male, friendship, Fiction, Bildungsromans, Sa...",Text
92,PG98,A Tale of Two Cities,"Dickens, Charles",1812.0,1870.0,['en'],11283.0,"[French, England, London, Fiction, Executions,...",Text
2419,PG2591,Grimms' Fairy Tales,"Grimm, Jacob",1785.0,1863.0,['en'],10270.0,"[Fairy, tales, Germany]",Text
190,PG219,Heart of Darkness,"Conrad, Joseph",1857.0,1924.0,['en'],10267.0,"[Degeneration, Fiction, Imperialism, Fiction, ...",Text
2428,PG2600,War and Peace,"Tolstoy, Leo, graf",1828.0,1910.0,['en'],9316.0,"[Aristocracy, (Social, class), Russia, Fiction...",Text
78,PG84,"Frankenstein; Or, The Modern Prometheus","Shelley, Mary Wollstonecraft",1797.0,1851.0,['en'],9294.0,"[Horror, tales, Frankenstein's, monster, (Fict...",Text
1130,PG1184,"The Count of Monte Cristo, Illustrated","Dumas, Alexandre",1802.0,1870.0,['en'],8846.0,"[France, History, 19th, century, Fiction, Hist...",Text
4964,PG5200,Metamorphosis,"Kafka, Franz",1883.0,1924.0,['en'],8821.0,"[Psychological, fiction, Metamorphosis, Fiction]",Text
799,PG844,The Importance of Being Earnest: A Trivial Com...,"Wilde, Oscar",1854.0,1900.0,['en'],8068.0,"[Identity, (Psychology), Drama, Comedies, Engl...",Text
26510,PG28054,The Brothers Karamazov,"Dostoyevsky, Fyodor",1821.0,1881.0,['en'],7836.0,"[Russia, Social, life, and, customs, 1533-1917...",Text
111,PG120,Treasure Island,"Stevenson, Robert Louis",1850.0,1894.0,['en'],7807.0,"[Sea, stories, Pirates, Fiction, Treasure, tro...",Text
147,PG158,Emma,"Austen, Jane",1775.0,1817.0,['en'],7791.0,"[Love, stories, Fathers, and, daughters, Ficti...",Text
70,PG76,Adventures of Huckleberry Finn,"Twain, Mark",1835.0,1910.0,['en'],7685.0,"[Male, friendship, Fiction, Bildungsromans, Fu...",Text
163,PG174,The Picture of Dorian Gray,"Wilde, Oscar",1854.0,1900.0,['en'],7515.0,"[Didactic, fiction, Portraits, Fiction, Appear...",Text
1178,PG1232,The Prince,"Machiavelli, Niccolò",1469.0,1527.0,['en'],7492.0,"[Political, ethics, Early, works, to, 1800, St...",Text

In [72]:
df.shape

(10000, 9)

In [73]:
print(df.loc[df["id"] == "PG5"])

    id                           title         author  authoryearofbirth  \
4  PG5  The United States Constitution  United States                NaN

   authoryearofdeath language  downloads  \
4                NaN   ['en']      226.0

                                            subjects  type
4  [United, States, Politics, and, government, 17...  Text

In [74]:
print(convert_subject(df["subjects"][171]))
#{'Americans -- Europe -- Fiction', 'British -- Europe -- Fiction', 'Male friendship -- Fiction', 'Man-woman relationships -- Fiction'}

['Encyclopedias', 'and', 'dictionaries']

In [75]:
def convert_author(author):
    temp = []
    temp1 = []
    temp = str(author).split(',')
    for i in temp:
        temp1.append(i.strip())
    return temp1

In [76]:
#df["author"].apply(convert_author)
print(type(df["author"]))

<class 'pandas.core.series.Series'>

In [77]:
# df["author"].apply(convert_author)
#

In [78]:
df['author_new'] = df["author"].apply(convert_author)

In [79]:
#removes the authors names spaces 
# df['author_new'].apply(lambda x : [i.replace(" ","")for i in x])

In [80]:
df['author_new'] = df['author_new'].apply(lambda x : [i.replace(" ","")for i in x])

In [81]:
# df["subjects"] = df['subjects'].apply(lambda x : [i.replace(" ","")for i in x])
# df['subjects'].apply(lambda x : [i.replace("--","")for i in x])
# df['subjects'].apply(lambda x : [i.replace(",","")for i in x])
# df['subjects'].apply(lambda x : [i.replace("-","")for i in x])

In [82]:
# df["subjects"] = df['subjects'].apply(lambda x : [i.replace("--","")for i in x])

In [83]:
#  df["subjects"] = df['subjects'].apply(lambda x : [i.replace(",","")for i in x])

In [84]:
df["subjects"][0]

['United',
 'States',
 'History',
 'Revolution',
 '1775-1783',
 'Sources',
 'United',
 'States',
 'Declaration',
 'of',
 'Independence']

In [85]:
#add column tags which combines the authors and subjects
df["tags"] = df["author_new"]+df["subjects"]

In [86]:
df.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,author_new,tags
1283,PG1342,Pride and Prejudice,"Austen, Jane",1775.0,1817.0,['en'],31755.0,"[Love, stories, Young, women, Fiction, Domesti...",Text,"[Austen, Jane]","[Austen, Jane, Love, stories, Young, women, Fi..."
10,PG11,Alice's Adventures in Wonderland,"Carroll, Lewis",1832.0,1898.0,['en'],16547.0,"[Fantasy, literature]",Text,"[Carroll, Lewis]","[Carroll, Lewis, Fantasy, literature]"
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,Anonymous,NaN,NaN,['en'],13961.0,"[Erotic, stories]",Text,[Anonymous],"[Anonymous, Erotic, stories]"
1571,PG1661,The Adventures of Sherlock Holmes,"Doyle, Arthur Conan",1859.0,1930.0,['en'],13269.0,"[Detective, and, mystery, stories, English, Pr...",Text,"[Doyle, ArthurConan]","[Doyle, ArthurConan, Detective, and, mystery, ..."
312,PG345,Dracula,"Stoker, Bram",1847.0,1912.0,['en'],11695.0,"[Vampires, Fiction, Transylvania, (Romania), F...",Text,"[Stoker, Bram]","[Stoker, Bram, Vampires, Fiction, Transylvania..."

In [87]:
#new_df contains id, title, tags
new_df = df[["id","title","tags","author"]]
new_df

,id,title,tags,author
1283,PG1342,Pride and Prejudice,"[Austen, Jane, Love, stories, Young, women, Fi...","Austen, Jane"
10,PG11,Alice's Adventures in Wonderland,"[Carroll, Lewis, Fantasy, literature]","Carroll, Lewis"
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,"[Anonymous, Erotic, stories]",Anonymous
1571,PG1661,The Adventures of Sherlock Holmes,"[Doyle, ArthurConan, Detective, and, mystery, ...","Doyle, Arthur Conan"
312,PG345,Dracula,"[Stoker, Bram, Vampires, Fiction, Transylvania...","Stoker, Bram"
...,...,...,...,...
28333,PG29954,There is a Reaper ...,"[DeVet, CharlesV.(CharlesVincent), Horror, tal...","De Vet, Charles V. (Charles Vincent)"
28221,PG29842,"Histology of the Blood, Normal and Pathological","[Ehrlich, Paul, Blood, Physiology, Blood, Exam...","Ehrlich, Paul"
8858,PG9397,The Green Satin Gown,"[Richards, LauraElizabethHowe, Children's, sto...","Richards, Laura Elizabeth Howe"
46033,PG47753,A History of England: Eleventh Edition,"[Oman, Charles, Great, Britain, History]","Oman, Charles"
47842,PG49569,Bleeding Armenia: Its history and horrors unde...,"[Williams, AugustusWarner, Armenian, question]","Williams, Augustus Warner"

In [88]:
# new_df.to_csv("free.csv")

In [89]:
new_df["tags"].apply(lambda x : " ".join(x))

1283     Austen Jane Love stories Young women Fiction D...
10                        Carroll Lewis Fantasy literature
28630                             Anonymous Erotic stories
1571     Doyle ArthurConan Detective and mystery storie...
312      Stoker Bram Vampires Fiction Transylvania (Rom...
                               ...
28333    DeVet CharlesV.(CharlesVincent) Horror tales S...
28221    Ehrlich Paul Blood Physiology Blood Examinatio...
8858        Richards LauraElizabethHowe Children's stories
46033                   Oman Charles Great Britain History
47842            Williams AugustusWarner Armenian question
Name: tags, Length: 10000, dtype: object

In [90]:
new_df["tags"] = new_df["tags"].apply(lambda x : " ".join(x))
new_df.head()

/var/folders/2d/q0g773zn6fjg8hxxytj2p95h0000gn/T/ipykernel_89707/1839408336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x : " ".join(x))

,id,title,tags,author
1283,PG1342,Pride and Prejudice,Austen Jane Love stories Young women Fiction D...,"Austen, Jane"
10,PG11,Alice's Adventures in Wonderland,Carroll Lewis Fantasy literature,"Carroll, Lewis"
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,Anonymous Erotic stories,Anonymous
1571,PG1661,The Adventures of Sherlock Holmes,Doyle ArthurConan Detective and mystery storie...,"Doyle, Arthur Conan"
312,PG345,Dracula,Stoker Bram Vampires Fiction Transylvania (Rom...,"Stoker, Bram"

In [91]:
#convert the tags to lower case
new_df["tags"] = new_df["tags"].apply(lambda x : x.lower())
new_df.head()

/var/folders/2d/q0g773zn6fjg8hxxytj2p95h0000gn/T/ipykernel_89707/2626009267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x : x.lower())

,id,title,tags,author
1283,PG1342,Pride and Prejudice,austen jane love stories young women fiction d...,"Austen, Jane"
10,PG11,Alice's Adventures in Wonderland,carroll lewis fantasy literature,"Carroll, Lewis"
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,anonymous erotic stories,Anonymous
1571,PG1661,The Adventures of Sherlock Holmes,doyle arthurconan detective and mystery storie...,"Doyle, Arthur Conan"
312,PG345,Dracula,stoker bram vampires fiction transylvania (rom...,"Stoker, Bram"

In [92]:
#applying stemming which converts the words to their original form
!pip install nltk
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()
def stem (text):
    temp = []
    for i in text.split():
        temp.append(ps.stem(i))
    return " ".join(temp)

Requirement already satisfied: nltk in /Users/ayahassan/opt/anaconda3/envs/tensorflow3/lib/python3.8/site-packages (3.8.1)
Requirement already satisfied: click in /Users/ayahassan/opt/anaconda3/envs/tensorflow3/lib/python3.8/site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in /Users/ayahassan/opt/anaconda3/envs/tensorflow3/lib/python3.8/site-packages (from nltk) (2023.5.5)
Requirement already satisfied: joblib in /Users/ayahassan/opt/anaconda3/envs/tensorflow3/lib/python3.8/site-packages (from nltk) (1.1.1)
Requirement already satisfied: tqdm in /Users/ayahassan/opt/anaconda3/envs/tensorflow3/lib/python3.8/site-packages (from nltk) (4.64.1)

In [93]:
# new_df["tags"].apply(stem)

In [94]:
new_df["tags"] = new_df["tags"].apply(stem)

/var/folders/2d/q0g773zn6fjg8hxxytj2p95h0000gn/T/ipykernel_89707/825579503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(stem)

In [95]:
new_df.head()

,id,title,tags,author
1283,PG1342,Pride and Prejudice,austen jane love stori young women fiction dom...,"Austen, Jane"
10,PG11,Alice's Adventures in Wonderland,carrol lewi fantasi literatur,"Carroll, Lewis"
28630,PG30254,The Romance of Lust: A Classic Victorian eroti...,anonym erot stori,Anonymous
1571,PG1661,The Adventures of Sherlock Holmes,doyl arthurconan detect and mysteri stori engl...,"Doyle, Arthur Conan"
312,PG345,Dracula,stoker bram vampir fiction transylvania (roman...,"Stoker, Bram"

In [96]:
#building a bag of words (features from text) of the tags while removing the built in stop words in English
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words = "english", max_features = 1000)
vectors = cv.fit_transform(new_df["tags"]).toarray()

In [97]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [124]:
new_df.shape

(10000, 4)

In [194]:
new_df.to_csv("new_df_free_onwebsite.csv")

In [99]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word', ngram_range=(2, 2), min_df = 1, stop_words='english', max_features = 1000)
tfidf_matrix = tf.fit_transform(new_df["tags"])

In [100]:
tfidf_matrix.shape

(10000, 1000)

In [116]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_mat = cosine_similarity(tfidf_matrix)

In [121]:
similarity_mat.shape

(10000, 10000)

In [103]:
# similarity_mat.astype(np.float16)

In [122]:
temp_df = pd.DataFrame(similarity_mat)

In [123]:
temp_df.shape

(10000, 10000)

In [106]:
temp_df.to_csv("simmat4.csv", index = False)

In [107]:
test = pd.read_csv("/Users/ayahassan/Desktop/graduation_project/simmat4.csv")
test.shape

(10000, 10000)

In [108]:
# from sklearn.metrics.pairwise import cosine_similarity
# similarity_mat_2 = cosine_similarity(vectors)

In [147]:
# similarity_mat_2.shape

In [153]:
def recommend (book_title, no_recommendations):
    index = np.where(new_df["title"] == book_title)[0][0]
    similar_books = sorted(enumerate(similarity_mat[index]) , key=lambda x:x[1]   , reverse=True)[1:no_recommendations+1]
#     print(similar_books)
#     for i in similar_books:
#         print (new_df['title'][i[0]], i[1])
    return similar_books

In [175]:
new_df.reset_index(drop=True, inplace=True)

In [187]:
new_df

,id,title,tags,author
0,PG1342,Pride and Prejudice,austen jane love stori young women fiction dom...,"Austen, Jane"
1,PG11,Alice's Adventures in Wonderland,carrol lewi fantasi literatur,"Carroll, Lewis"
2,PG30254,The Romance of Lust: A Classic Victorian eroti...,anonym erot stori,Anonymous
3,PG1661,The Adventures of Sherlock Holmes,doyl arthurconan detect and mysteri stori engl...,"Doyle, Arthur Conan"
4,PG345,Dracula,stoker bram vampir fiction transylvania (roman...,"Stoker, Bram"
...,...,...,...,...
9995,PG29954,There is a Reaper ...,devet charlesv.(charlesvincent) horror tale sc...,"De Vet, Charles V. (Charles Vincent)"
9996,PG29842,"Histology of the Blood, Normal and Pathological",ehrlich paul blood physiolog blood examin bloo...,"Ehrlich, Paul"
9997,PG9397,The Green Satin Gown,richard lauraelizabethhow children' stori,"Richards, Laura Elizabeth Howe"
9998,PG47753,A History of England: Eleventh Edition,oman charl great britain histori,"Oman, Charles"
9999,PG49569,Bleeding Armenia: Its history and horrors unde...,william augustuswarn armenian question,"Williams, Augustus Warner"

In [188]:
def recommend_with_user_history (user_history, no_recommendations):
    #user_history is a dictionary of book-rating pairs
    #example: {"Peter Pan": 5, "The Wonderful Wizard of Oz": 3, "Moby Dick": 4}
    recommended_books = []
    books_indicies_ratings = {}
    total_similar_books = {}
    for key in user_history:
        index = np.where(new_df["title"] == key)[0][0]
        books_indicies_ratings[index] = user_history[key]
#         print(books_indicies_ratings)
        
    for i in user_history:
        similar_books = recommend(i,no_recommendations)
#         print(similar_books)
        for j in similar_books:
            if j[0] not in user_history:
                if j[0] in total_similar_books and (j[1]*user_history[i]< total_similar_books[j[0]]):
                    continue;
                else:
                    total_similar_books[j[0]] = j[1]*user_history[i]
        
    similar_books_2 = sorted(total_similar_books.items(), key=lambda x:x[1], reverse=True)[0:no_recommendations]
    for i in similar_books_2:
        recommended_books.append({"title": new_df['title'][i[0]], "author": new_df['author'][i[0]], "id": new_df['id'][i[0]]})
#         print (new_df['title'][i[0]], i[1])
    return recommended_books

In [189]:
np.where(new_df["title"] == "Alice's Adventures in Wonderland")[0][0]

1

# we need to save the new_df and similarity_mat_2

In [190]:
print(recommend_with_user_history({"Pride and Prejudice": 3, "Alice's Adventures in Wonderland": 5}, 10))

[{'title': 'Through the Looking-Glass', 'author': 'Carroll, Lewis', 'id': 'PG12'}, {'title': "Alice's Adventures in Wonderland: Illustrated by Arthur Rackham. With a Proem by Austin Dobson", 'author': 'Carroll, Lewis', 'id': 'PG28885'}, {'title': "Alice's Abenteuer im Wunderland", 'author': 'Carroll, Lewis', 'id': 'PG19778'}, {'title': "Le avventure d'Alice nel paese delle meraviglie", 'author': 'Carroll, Lewis', 'id': 'PG28371'}, {'title': 'Alice\'s Adventures Under Ground: Being a facsimile of the original Ms. book afterwards developed into "Alice\'s Adventures in Wonderland"', 'author': 'Carroll, Lewis', 'id': 'PG19002'}, {'title': "Alice's Adventures in Wonderland: HTML Edition", 'author': 'Carroll, Lewis', 'id': 'PG928'}, {'title': 'La Aventuroj de Alicio en Mirlando', 'author': 'Carroll, Lewis', 'id': 'PG17482'}, {'title': 'Alice in Wonderland, Retold in Words of One Syllable', 'author': 'Carroll, Lewis', 'id': 'PG19551'}, {'title': 'Sylvie and Bruno', 'author': 'Carroll, Lewis', 'id': 'PG620'}, {'title': 'Sylvie and Bruno (Illustrated)', 'author': 'Carroll, Lewis', 'id': 'PG48630'}]

In [191]:
 x = recommend("Peter Pan",20)

In [192]:
recommend("The Wonderful Wizard of Oz",5)

[(7515, 1.0),
 (1838, 0.9419254132866429),
 (4327, 0.9419254132866429),
 (1469, 0.9372498855923792),
 (8277, 0.9185940666256867)]

In [193]:
recommend("Moby Dick",5)

[(1110, 1.0),
 (1146, 0.6347263580123051),
 (6817, 0.5966233219106691),
 (1384, 0.5765943690656283),
 (645, 0.5630196657046075)]